﻿
@{
    ViewBag.Title = "AfterRegister";
}

<style>
    #Success{
        color:lawngreen;
    }
    #Fail{
        color:red;
    }
</style>
<h2>OTP Sent to @ViewBag.EmailId</h2>

@using (Html.BeginForm())
{
    <input type="text" name="OTP" />
    <input type="submit" value="Confirm" />
    if (ViewBag.Message != null)
    {
        <span id="Success">@ViewBag.Message</span>
    }
    else if (ViewBag.failedMessage != null)
    {
        <span id="Fail">@ViewBag.failedMessage</span>
    }
}


