﻿@model CarRentalSystem.Models.Rental

@{
    ViewBag.Title = "Book";
}

<h2>Book a car</h2>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>@Html.DisplayNameFor(model => model.PickupDate)</td>
            <td>@Html.TextBoxFor(model => model.PickupDate, new { @type = "date" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ReturnDate)</td>
            <td>@Html.TextBoxFor(model => model.ReturnDate, new { @type = "date" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Source)</td>
            <td>@Html.TextBoxFor(model => model.Source)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Destination)</td>
            <td>@Html.TextBoxFor(model => model.Destination)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.InitialFuel)</td>
            <td>

                @Html.DropDownListFor(model => model.InitialFuel, new[] { new SelectListItem { Text = "True", Value = "1" }, new SelectListItem { Text = "False", Value = "0" } })
            </td>
        </tr>

        <tr>
            <td>

                <input type="submit" value="Book" onclick="return confirm('Are you sure want to book the car?')" />
            </td>
        </tr>
    </table>
}




