﻿@model IEnumerable<CarRentalSystem.Models.Rental>
@using CarRentalSystem.Models;
@using CarRentalSystem.Proxy;

@{
    ViewBag.Title = "CancelBooking";
}
<style>
    table, td, th {
        padding: 10px;
    }
</style>
<h2>Cancel Booking</h2>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <th>Car Image</th>
            <th>Pickup Date</th>
            <th>Return Date</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Fair Amount</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                @{
                    CarProxy proxy = new CarProxy();
                    var car = proxy.GetCarFromRentalId(item.RentalId);
                }
                <td> <img src="@Url.Content(car.CarImagePath)" width="100" height="100" /></td>
                <td>@item.PickupDate </td>
                <td>@item.ReturnDate</td>
                <td>@item.Source</td>
                <td>@item.Destination</td>
                <td>@item.FairAmount</td>
                <td>@Html.ActionLink("Cancel Booking", "Cancel", new { Rid = item.RentalId, Cid = ViewBag.CustomerId })</td>
            </tr>
        }
    </table>
}






