﻿@model CarRentalSystem.Models.Customer

@{
    ViewBag.Title = "CustomerDetails";
}

<h2>Customer Details</h2>

<table>
    <tr>
        <td>@Html.DisplayNameFor(model=>model.CustomerImagePath)</td>
        <td><img src="@Url.Content(Model.CustomerImagePath)" width="100" height="100"/></td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.CustomerName)</td>
        <td>@Html.TextBoxFor(model => model.CustomerName, new { @readonly = "readonly" })</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(model => model.Address)</td>
        <td>@Html.TextBoxFor(model => model.Address, new { @readonly = "readonly" })</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(model => model.EmailId)</td>
        <td>@Html.TextBoxFor(model => model.EmailId, new { @readonly = "readonly" })</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(model => model.PhoneNumber)</td>
        <td>@Html.TextBoxFor(model => model.PhoneNumber, new { @readonly = "readonly" })</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(model => model.Password)</td>
        <td>@Html.TextBoxFor(model => model.Password, new { @readonly = "readonly" })</td>
    </tr>



</table>

@Html.ActionLink("Edit", "Edit", new { id = Model.CustomerId })



