﻿﻿@model IEnumerable<CarRentalSystem.Models.Car>

@{ ViewBag.Title = "DisplayHome"; }

<style>
    table, td, th {
        padding: 10px;
    }
</style>

@if (ViewBag.Image != null)
{
    <a href="@Url.Action("CustomerDetails", new { id = ViewBag.CustomerId })">
        <img src="@Url.Content(ViewBag.Image)" width="100" height="100" , alt="CustomerDetails" />
    </a>
}
else
{
    @Html.ActionLink("Click to see details", "CustomerDetails", new {id=ViewBag.CustomerId })
}
<h2>Available Cars</h2>


@using (Html.BeginForm())
{
    <table>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CarName)</th>
            <th>@Html.DisplayNameFor(model => model.CarType)</th>
            <th>@Html.DisplayNameFor(model => model.DefaultPrice)</th>
            <th>@Html.DisplayNameFor(model => model.IsAvailable)</th>
            <th>@Html.DisplayNameFor(model => model.CarImagePath)</th>       
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CarName</td>
                <td>@item.CarType</td>
                <td>@item.DefaultPrice</td>
                <td>@item.IsAvailable</td>
                @if (item.CarImagePath != null)
                {
                    <td>
                        <img src="@Url.Content(item.CarImagePath)" width="100" height="100" />
                    </td>   
                }
                else
                {
                    <td>Car image not available</td>
                }
                <td>
                    @Html.ActionLink("Book", "Book", new { Cid = ViewBag.CustomerId, Carid = item.CarId })

       
                </td>
            </tr>
         }
    </table>
 }
@Html.ActionLink("Review Car", "ReviewCar", new { Cid = ViewBag.CustomerId }) | @Html.ActionLink("Cancel Booking", "CancelBooking", new { Cid = ViewBag.CustomerId })
