﻿@model CarRentalSystem.Models.Customer

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            <td><div>@Html.LabelFor(model => model.CustomerName)</div></td>
            <td>
                <div>@Html.EditorFor(model => model.CustomerName)</div>
                <div>@Html.ValidationMessageFor(model => model.CustomerName)</div>
            </td>
        </tr>

        <tr>
            <td><div>@Html.LabelFor(model => model.Address)</div></td>
            <td>
                <div>@Html.EditorFor(model => model.Address)</div>
                <div>@Html.ValidationMessageFor(model => model.Address)</div>
            </td>
        </tr>

        <tr>
            <td><div>@Html.LabelFor(model => model.PhoneNumber)</div></td>
            <td>
                <div>@Html.EditorFor(model => model.PhoneNumber)</div>
                <div>@Html.ValidationMessageFor(model => model.PhoneNumber)</div>
            </td>
        </tr>

        <tr>
            <td><div>@Html.LabelFor(model => model.EmailId)</div></td>
            <td>
                <div>@Html.EditorFor(model => model.EmailId)</div>
                <div>@Html.ValidationMessageFor(model => model.EmailId)</div>
            </td>
        </tr>

        <tr>
            <td><div>@Html.LabelFor(model => model.Password)</div></td>
            <td>
                <div>@Html.EditorFor(model => model.Password)</div>
                <div>@Html.ValidationMessageFor(model => model.Password)</div>
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.CustomerImageFile)
            </td>
            <td>
                <input type="file" name="CustomerImageFile" required />
            </td>
        </tr>

        <tr>
            <td><div><input type="submit" value="Edit" /></div></td>
        </tr>

    </table>
 }


