﻿@model CarRentalSystem.Models.Customer

@{
    ViewBag.Title = "Login";
}

<h2>Customer Login</h2>

@using (Html.BeginForm())
{

    <table>
        <tr>
            <td>@Html.LabelFor(model => model.EmailId)</td>
            <td>@Html.TextBoxFor(model => model.EmailId)</td>
            <td>@Html.ValidationMessageFor(model => model.EmailId)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Password)</td>
            <td>@Html.TextBoxFor(model => model.Password)</td>
            <td>@Html.ValidationMessageFor(model => model.Password)</td>
        </tr>
    </table>
    <input type="submit" id="submit" value="Login" />
}
@Html.ActionLink("Forgot password", "SendEmail")