﻿@model CarRentalSystem.Models.Car

@{
    ViewBag.Title = "Rating Car";
}

<h2>Rating Car</h2>

@using (Html.BeginForm())
{<div>
        <h2>@Model.CarName</h2>
        <img src="@Url.Content(Model.CarImagePath)" width="100" height="100" />
    </div>

    <div>
        @Html.RadioButtonFor(model => model.Ratings, "1")
        @Html.RadioButtonFor(model => model.Ratings, "2")
        @Html.RadioButtonFor(model => model.Ratings, "3")
        @Html.RadioButtonFor(model => model.Ratings, "4")
        @Html.RadioButtonFor(model => model.Ratings, "5")
    </div>
    <input type="submit" value="Add Ratings" />
}




