﻿@model CarRentalSystem.Models.Customer

@{
    ViewBag.Title = "ResetPassword";
}

<h2>Reset Password</h2>
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>
                @Html.DisplayNameFor(c => c.EmailId)
                @Html.TextBoxFor(c => c.EmailId, new { @Value = Model.EmailId, @readonly = "readonly" })
            </td>

        </tr>
        <tr>
            <td>
                <span>Enter New Password</span>
                <input type="text" name="newPassword" />
            </td>
        </tr>
        <tr>
            <td>
                <span>Confirm Password</span>
                <input type="text" name="confirmPassword" />
            </td>
        </tr>
    </table>
    <input type="submit" value="Reset Password" />
}

