﻿@model IEnumerable<CarRentalSystem.Models.Rental>
@using CarRentalSystem.Models;
@using CarRentalSystem.Proxy;

@{
    ViewBag.Title = "ReviewCar";
}
<style>
    table, td, th {
        padding: 10px;
    }
</style>
<h2>ReviewCar</h2>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <th>Car Image</th>
            <th>Pickup Date</th>
            <th>Return Date</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Fair Amount</th>
            <th>Add a review</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                @{
                    CarProxy carProxy = new CarProxy();
                    var car = carProxy.GetCarFromRentalId(item.RentalId);
                }
                <td> <img src="@Url.Content(car.CarImagePath)" width="100" height="100" /></td>
                <td>@item.PickupDate.ToShortDateString() </td>
                <td>@item.ReturnDate.ToShortDateString()</td>
                <td>@item.Source</td>
                <td>@item.Destination</td>
                <td>@item.FairAmount</td>
                <td>@Html.ActionLink("Add a review", "RatingCar", new { Rid = item.RentalId, Cid = ViewBag.CustomerId })</td>
            </tr>

        }
    </table>
}



