﻿@model CarRentalSystem.Models.Admin

@{
    ViewBag.Title = "AdminDetails";
}

<h2>Admin Details</h2>

<table>
    <tr>
        <td>@Html.DisplayNameFor(a => a.AdminName)</td>
        <td>@Html.TextBoxFor(a => a.AdminName, new { @Value = Model.AdminName, @readonly = "readonly" })</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(a => a.Address)</td>
        <td>@Html.TextBoxFor(a => a.Address, new { @Value = Model.Address, @readonly = "readonly" })</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(a => a.EmailId)</td>
        <td>@Html.TextBoxFor(a => a.EmailId, new { @Value = Model.EmailId, @readonly = "readonly" })</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(a => a.PhoneNumber)</td>
        <td>@Html.TextBoxFor(a => a.PhoneNumber, new { @Value = Model.PhoneNumber, @readonly = "readonly" })</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(a => a.AdminImagePath)</td>
        @if (Model.AdminImagePath != null)
        {
            <td>
                <img src="@Url.Content(Model.AdminImagePath)" width="100" height="100" />
            </td>
        }
        else
        {
            <td>Admin Image Not Available Click on Edit to set Image</td>
        }
    </tr>
</table>
@Html.ActionLink("Go Back to car list", "ViewCarList", "Admin") | @Html.ActionLink("Edit details", "Edit", "Admin", new { id = Model.AdminId }, null)

