﻿@model IEnumerable<CarRentalSystem.Models.Rental>
@using CarRentalSystem.Models;
@using CarRentalSystem.Proxy;

@{
    ViewBag.Title = "BookingList";
}
<style>
    table, td, th {
        padding: 10px;
    }
</style>
<h2>Booking List</h2>
<table>
    <tr>
        <th>Car Name</th>
        <th>@Html.DisplayNameFor(r => r.PickupDate)</th>
        <th>@Html.DisplayNameFor(r => r.ReturnDate)</th>
        <th>@Html.DisplayNameFor(r => r.Source)</th>
        <th>@Html.DisplayNameFor(r => r.Destination)</th>
        <th>@Html.DisplayNameFor(r => r.FairAmount)</th>
        <th>@Html.DisplayNameFor(r => r.InitialFuel)</th>
        <th>Owner Name</th>
    </tr>
    @foreach (var val in Model)
    {
        <tr>
            @{
                CarProxy carProxy = new CarProxy();
                var car = carProxy.GetCarFromRentalId(val.RentalId);
            }
            <td>@Html.ActionLink(car.CarName, "ViewCar", "Admin", new { id = car.CarId }, null)</td>
            <td>@val.PickupDate.ToShortDateString()</td>
            <td>@val.ReturnDate.ToShortDateString()</td>
            <td>@val.Source</td>
            <td>@val.Destination</td>
            <td>@val.FairAmount</td>
            @if (val.InitialFuel == "0")
            {
                <td>No</td>
            }
            else
            {
                <td>Yes</td>
            }
            @{
                OwnerProxy ownerProxy = new OwnerProxy();
                var owner = ownerProxy.GetOwnerData(val.RentalOwnerId);
            }
            <td>@Html.ActionLink(owner.OwnerName, "ViewOwnerDetails", "Admin", new { id = owner.OwnerId }, null)</td>
        </tr>
    }
</table>

