﻿@model CarRentalSystem.Models.Admin

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            <td>@Html.DisplayNameFor(a => a.AdminName)</td>
            <td>@Html.TextBoxFor(a => a.AdminName, new { @Value = Model.AdminName })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(a => a.Address)</td>
            <td>@Html.TextBoxFor(a => a.Address, new { @Value = Model.Address })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(a => a.EmailId)</td>
            <td>@Html.TextBoxFor(a => a.EmailId, new { @Value = Model.EmailId })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(a => a.PhoneNumber)</td>
            <td>@Html.TextBoxFor(a => a.PhoneNumber, new { @Value = Model.PhoneNumber })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(a => a.AdminImagePath)</td>
            <td>
                <input type="file" name="ImageFile" required />
            </td>
        </tr>
    </table>
    <input type="submit" value="Edit" />
}
@Html.ActionLink("Go Back to car list", "ViewCarList", "Admin")

