﻿@model CarRentalSystem.Models.Car

@{
    ViewBag.Title = "EditCar";
}

<h2>Edit Car Availability</h2>
@using (Html.BeginForm())
{
    <table>
        <tr>
            @Html.DisplayNameFor(c => c.CarId)
            @Html.TextBoxFor(c => c.CarId, new { @Value = Model.CarId, @readonly = "readonly" })
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(c => c.IsAvailable)</td>
            <td>
                @{
                    List<bool> li = new List<bool> { true, false };
                    SelectList sl = new SelectList(li);
                }
                @Html.DropDownListFor(c => c.IsAvailable, sl)
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(c => c.DefaultPrice)</td>
            <td>@Html.TextBoxFor(c => c.DefaultPrice, new { @Value = Model.DefaultPrice })</td>
        </tr>
    </table>
    <input type="submit" value="Edit" />
}

