﻿@model CarRentalSystem.Models.Admin

@{
    ViewBag.Title = "Login";
}

<h2>Admin Login</h2>
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>@Html.LabelFor(a => a.EmailId)</td>
            <td>@Html.TextBoxFor(a => a.EmailId)</td>
            <td>@Html.ValidationMessageFor(a => a.EmailId)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.Password)</td>
            <td>@Html.TextBoxFor(a => a.Password)</td>
            <td>@Html.ValidationMessageFor(a => a.Password)</td>
        </tr>
    </table>
    <input type="submit" id="submit" value="Login" />
}
@Html.ActionLink("Forgot password", "SendEmail")

