﻿<style>
    a {
        padding: 5px;
    }
</style>

@if (ViewBag.Image != null)
{
    <a href="@Url.Action("AdminDetails", new { id = 1001 })">
        <img src="@Url.Content(ViewBag.Image)" width="100" height="100" , alt="AdminDetails" />

    </a>
    <span>Click on Image to view Details</span>
}
else
{
    @Html.ActionLink("Click to View Details of Admin", "AdminDetails", new { id = 1001 }, null)
}
<br />
@Html.ActionLink("View Car List", "ViewCarList", "Admin")
@Html.ActionLink("View Owner List", "ViewOwnerList", "Admin")
@Html.ActionLink("VIew Customer List", "ViewCustomerList", "Admin")
@Html.ActionLink("Check Owner Earnings", "TotalPayout", "Admin")
