﻿@model IEnumerable<CarRentalSystem.Models.Owner>

@{
    ViewBag.Title = "TotalPayout";
}
<style>
    table, td, th {
        padding: 10px;
    }
</style>
@Html.Partial("NavBar")
<h2>Total Payout</h2>
<table>
    <tr>
        <td>@Html.DisplayNameFor(o => o.OwnerName)</td>
        <td>@Html.DisplayNameFor(o => o.TotalEarnings)</td>
    </tr>
    @foreach (var val in Model)
    {
        <tr>
            <td>@Html.ActionLink(val.OwnerName, "ViewOwnerDetails", "Admin", new { id = val.OwnerId }, null)</td>
            <td>@val.TotalEarnings</td>
        </tr>

    }
</table>


