﻿@model CarRentalSystem.Models.Owner

@{
    ViewBag.Title = "ViewOwnerDetails";
}
<style>
    table, td, th {
        padding: 10px;
    }
</style>
<h2>Owner Details</h2>
<table>
    <tr>
        <td>
            @Html.DisplayNameFor(o => o.OwnerName)
            @Html.TextBoxFor(o => o.OwnerName, Model.OwnerName, new { @readonly = "readonly" })
        </td>

    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(o => o.Address)
            @Html.TextBoxFor(o => o.Address, Model.Address, new { @readonly = "readonly" })
        </td>

    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(o => o.PhoneNumber)
            @Html.TextBoxFor(o => o.PhoneNumber, Model.PhoneNumber.ToString(), new { @readonly = "readonly" })
        </td>

    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(o => o.EmailId)
            @Html.TextBoxFor(o => o.EmailId, Model.EmailId, new { @readonly = "readonly" })
        </td>

    </tr>

</table>
@Html.ActionLink("Back to car list", "ViewCarList", "Admin") | @Html.ActionLink("View full Owner List", "ViewOwnerList", "Admin")

