﻿@model CarRentalSystem.Models.Customer

@{
    ViewBag.Title = "ViewCustomerDetails";
}
<style>
    table, td, th {
        padding: 10px;
    }
</style>
<h2>View Customer Details</h2>

<table>
    <tr>
        <td>
            @Html.DisplayNameFor(c => c.CustomerName)
            @Html.TextBoxFor(c => c.CustomerName, Model.CustomerName, new { @readonly = "readonly" })
        </td>

    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(c => c.Address)
            @Html.TextBoxFor(c => c.Address, Model.Address, new { @readonly = "readonly" })
        </td>

    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(c => c.PhoneNumber)
            @Html.TextBoxFor(c => c.PhoneNumber, Model.PhoneNumber.ToString(), new { @readonly = "readonly" })
        </td>

    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(c => c.EmailId)
            @Html.TextBoxFor(c => c.EmailId, Model.EmailId, new { @readonly = "readonly" })
        </td>

    </tr>

</table>
@Html.ActionLink("Back to car list", "ViewCarList", "Admin")

