﻿@model IEnumerable<CarRentalSystem.Models.Customer>
@using CarRentalSystem.Models;
@using CarRentalSystem.Proxy;

@{
    ViewBag.Title = "ViewCustomerList";
}
<style>
    table, td, th {
        padding: 10px;
    }
</style>
@Html.Partial("NavBar")
<h2>Customer List</h2>
<table>
    <tr>
        <th>@Html.DisplayNameFor(c => c.CustomerImagePath)</th>
        <th>@Html.DisplayNameFor(c => c.CustomerName)</th>
        <th>@Html.DisplayNameFor(c => c.Address)</th>
        <th>@Html.DisplayNameFor(c => c.PhoneNumber)</th>
        <th>@Html.DisplayNameFor(c => c.EmailId)</th>
        <th>Booking Details</th>
    </tr>
    @foreach (var val in Model)
    {
        <tr>
            @if (val.CustomerImagePath != null)
            {
                <td><img src="@Url.Content(val.CustomerImagePath)" width="100" height="100" /></td>
            }
            else
            {
                <td>Customer Image Not Available</td>
            }
            <td>@val.CustomerName</td>
            <td>@val.Address</td>
            <td>@val.PhoneNumber</td>
            <td>@val.EmailId</td>

            @{
                RentalProxy rentalProxy = new RentalProxy();
                var rentalList = rentalProxy.GetRentalListByCustomerID(val.CustomerId);

            }
            @if (rentalList != null)
            {
                <td>
                    @Html.ActionLink("Show Bookings", "BookingList", "Admin", new { id = val.CustomerId }, null)
                </td>
            }
            else
            {
                <td>Customer Has not done any booking</td>
            }

        </tr>
    }
</table>


