﻿@model CarRentalSystem.Models.Car

@{
    ViewBag.Title = "ViewCar";
}
<style>
    table, td, th {
        padding: 10px;
    }
</style>
<h2>View Car</h2>
<table>
    <tr>
        <td>@Html.DisplayNameFor(c => c.CarImagePath)</td>
        <td> <img src="@Url.Content(Model.CarImagePath)" width="100" height="100" /></td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(c => c.CarName)

        </td>
        <td>
            @Html.TextBoxFor(c => c.CarName, new { @Value = Model.CarName, @readonly = "readonly" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(c => c.CarType)

        </td>
        <td>
            @Html.TextBoxFor(c => c.CarType, new { @Value = Model.CarType, @readonly = "readonly" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(c => c.DefaultPrice)

        </td>
        <td>
            @Html.TextBoxFor(c => c.DefaultPrice, new { @Value = Model.DefaultPrice, @readonly = "readonly" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(c => c.IsAvailable)

        </td>
        <td>
            @Html.TextBoxFor(c => c.IsAvailable, new { @Value = Model.IsAvailable, @readonly = "readonly" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(c => c.CarNumber)

        </td>
        <td>
            @Html.TextBoxFor(c => c.CarNumber, new { @Value = Model.CarNumber, @readonly = "readonly" })
        </td>
    </tr>

</table>
@Html.ActionLink("Back to Owner List", "ViewOwnerList", "Admin")|@Html.ActionLink("View Full Car Detail", "ViewCarList", "Admin")

