﻿@model IEnumerable<CarRentalSystem.Models.Owner>
@using CarRentalSystem.Models;
@using CarRentalSystem.Proxy;

@{
    ViewBag.Title = "ViewOwnerList";
}
<style>
    table, td, th {
        padding: 10px;
    }
</style>
@Html.Partial("NavBar")
<h2>Owner List</h2>
<table>
    <tr>
        <th>@Html.DisplayNameFor(o => o.OwnerImagePath)</th>
        <th>@Html.DisplayNameFor(o => o.OwnerName)</th>
        <th>@Html.DisplayNameFor(o => o.Address)</th>
        <th>@Html.DisplayNameFor(o => o.PhoneNumber)</th>
        <th>@Html.DisplayNameFor(o => o.EmailId)</th>
        <th>@Html.DisplayNameFor(o => o.TotalEarnings)</th>
        <th>@Html.DisplayNameFor(o => o.OwnerCarList)</th>

    </tr>
    @foreach (var val in Model)
    {
        <tr>
            @if (val.OwnerImagePath != null)
            {
                <td><img src="@Url.Content(val.OwnerImagePath)" width="100" height="100" /></td>
            }
            else
            {
                <td>No Image Available for Owner</td>
            }
            <td>@val.OwnerName</td>
            <td>@val.Address</td>
            <td>@val.PhoneNumber</td>
            <td>@val.EmailId</td>
            <td>@val.TotalEarnings</td>
            @{
                CarProxy carProxy = new CarProxy();
                var carList = carProxy.GetCarListByOwnerId(val.OwnerId);
                val.OwnerCarList = carList;
            }

            <td>
                @foreach (var car in val.OwnerCarList)
                {
                    @Html.ActionLink(car.CarName, "ViewCar", "Admin", new { @id = car.CarId }, null)
                    <span>&nbsp;&nbsp;</span>
                }
            </td>
        </tr>
    }
</table>



