﻿@model IEnumerable<CarRentalSystem.Models.Car>
@using CarRentalSystem.Models;
@using CarRentalSystem.Proxy;

@{
    ViewBag.Title = "ViewCarList";
}


<style>
    table, td, th {
        padding: 10px;
    }
</style>
@Html.Partial("NavBar")
<h2>Car List</h2>
<table>
    <tr>
        <th>@Html.DisplayNameFor(c => c.CarName)</th>
        <th>@Html.DisplayNameFor(c => c.CarType)</th>
        <th>@Html.DisplayNameFor(c => c.DefaultPrice)</th>
        <th>@Html.DisplayNameFor(c => c.CarNumber)</th>
        <th>@Html.DisplayNameFor(c => c.IsAvailable)</th>
        <th>@Html.DisplayNameFor(c => c.CarImagePath)</th>
        <th>@Html.DisplayNameFor(c => c.TotalEarnings)</th>
        <th>@Html.DisplayNameFor(c => c.CarOwner.OwnerName)</th>
        <th>@Html.DisplayNameFor(c => c.CarCustomer.CustomerName)</th>
        <th>Action</th>
    </tr>

    @foreach (var val in Model)
    {
<tr>
    <td>@val.CarName</td>
    <td>@val.CarType</td>
    <td>@val.DefaultPrice</td>
    <td>@val.CarNumber</td>
    <td>@val.IsAvailable</td>
    <td>
        <img src="@Url.Content(val.CarImagePath)" width="100" height="100" /> 
    </td>
    <td>
        @val.TotalEarnings
    </td>
    <td>
        @{
            OwnerProxy ownerProxy = new OwnerProxy();
            var owner = ownerProxy.GetOwnerData(val.OwnerId);
        }
        @owner.OwnerName |
        @Html.ActionLink("Details of Owner", "ViewOwnerDetails", "Admin", new { id = owner.OwnerId }, null)
    </td>

     @{ 
         CustomerProxy customerProxy = new CustomerProxy();
         if (val.CarCustomerID != null)
         {
             var customer = customerProxy.GetCustomerById(Convert.ToInt32(val.CarCustomerID));
            if (customer != null)
            {
                <td>
                    @customer.CustomerName |
                    @Html.ActionLink("Details of customer", "ViewCustomerDetails", "Admin", new { id = customer.CustomerId }, null)
                </td>
            }
            else
            {
                <td>
                    <span>No Customer available for car</span>
                </td>
            }
         }
        else
         {
            <td>
                <span>No Customer available for car</span>
            </td>
          }
     }



        <td>
            @Html.ActionLink("Delete car", "RemoveCar", "Admin", new { Cid = val.CarId, Oid = val.OwnerId }, null) |
            @Html.ActionLink("Edit car", "EditCar", "Admin", new { id = val.CarId }, null)

        </td>
</tr>
    }

</table>
