﻿@model CarRentalSystem.Models.Car

@{
    ViewBag.Title = "AddCars";
}

<h2>AddCars</h2>

@using (Html.BeginForm("AddCars", "Owner", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            <td>@Html.DisplayNameFor(c => c.CarName)</td>
            <td>@Html.TextBoxFor(c => c.CarName)</td>
            <td>@Html.ValidationMessageFor(c => c.CarName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(c => c.CarType)</td>
            <td>
                @{
                    List<String> carType = new List<String>() { "SUV", "Sedan", "Mini", "Micro" };
                    SelectList li = new SelectList(carType);
                }
                @Html.DropDownListFor(c => c.CarType, li)
            </td>

        <tr>
            <td>
                @Html.DisplayNameFor(c => c.CarNumber)
            </td>
            <td>
                @Html.TextBoxFor(c => c.CarNumber)
                @Html.ValidationMessageFor(c => c.CarNumber)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(c => c.CarImagePath)
            </td>
            <td>
                <input type="file" name="ImageFile" required />
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(c => c.OwnerId)
            </td>
            <td>
                @Html.TextBoxFor(c => c.OwnerId, new { @Value = ViewBag.Id, @readonly = "readonly" })
            </td>
        </tr>

        </tr>

    </table>
    <input type="submit" value="Add Car" />
}

