﻿@model IEnumerable<CarRentalSystem.Models.Car>
@using CarRentalSystem.Models;

@{
    ViewBag.Title = "DisplayCars";
}
<style>
    table, td, th {
        padding: 10px;
    }
</style>
@if (ViewBag.Image != null)
{
<a href="@Url.Action("OwnerDetails", new { id = ViewBag.Id })">
    <img src="@Url.Content(ViewBag.Image)" width="100" height="100" , alt="OwnerDetails" />
</a>
}
else
{
    @Html.ActionLink("Click To see details","OwnerDetails",new {id=ViewBag.Id })
}
<h2>Display Cars</h2>
<table>
    <tr>
        <th>@Html.DisplayNameFor(c => c.CarName)</th>
        <th>@Html.DisplayNameFor(c => c.CarType)</th>
        <th>@Html.DisplayNameFor(c => c.DefaultPrice)</th>
        <th>@Html.DisplayNameFor(c => c.IsAvailable)</th>
        <th>@Html.DisplayNameFor(c => c.CarNumber)</th>
        <th>@Html.DisplayNameFor(c => c.CarImagePath)</th>
    </tr>
    @foreach (var val in Model)
    {
        using (Html.BeginForm("RemoveCar", "Owner", new { Cid = val.CarId, Oid = val.OwnerId }))
        {
            <tr>
                <td>@val.CarName</td>
                <td>@val.CarType</td>
                <td>@val.DefaultPrice</td>
                <td>@val.IsAvailable</td>
                <td>@val.CarNumber</td>
                
                @if (val.CarImagePath != null)
                {
                    <td>
                    <img src="@Url.Content(val.CarImagePath)" width="100" height="100" />
                    </td>
                }
                else
                {
                    <td>
                        Car Image Not available
                    </td>
                }
                
                <td>
                   
                    <input type="submit" value="Delete" onclick="return confirm('Are you sure want to delete the car = @val.CarId')" />
                </td>
            </tr>
        }

    }



</table>
@Html.ActionLink("Add Car", "AddCars", new { id = ViewBag.Id }, null) | @Html.ActionLink("Check Earnings", "Payout", "Owner", new { id = ViewBag.Id }, null)