﻿@model CarRentalSystem.Models.Owner

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Owner", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            <td>@Html.DisplayNameFor(o => o.OwnerName)</td>
            <td>@Html.TextBoxFor(o => o.OwnerName, new { @Value = Model.OwnerName })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(o => o.Address)</td>
            <td>@Html.TextBoxFor(o => o.Address, new { @Value = Model.Address })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(o => o.EmailId)</td>
            <td>@Html.TextBoxFor(o => o.EmailId, new { @Value = Model.EmailId })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(o => o.PhoneNumber)</td>
            <td>@Html.TextBoxFor(o => o.PhoneNumber, new { @Value = Model.PhoneNumber })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(o => o.OwnerImagePath)</td>
            <td>
                <input type="file" name="ImageFile" required/>
            </td>
        </tr>
    </table>
    <input type="submit" value="Edit" />
}
@Html.ActionLink("Go Back to car list", "DisplayCars", "Owner", new { id = Model.OwnerId }, null)



