﻿@model CarRentalSystem.Models.Owner

@{
    ViewBag.Title = "Login";
}

<h2>Owner Login</h2>

@using (Html.BeginForm())
{
    {
        <table>
            <tr>
                <td>@Html.LabelFor(o => o.EmailId)</td>
                <td>@Html.TextBoxFor(o => o.EmailId)</td>
                <td>@Html.ValidationMessageFor(o => o.EmailId)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(o => o.Password)</td>
                <td>@Html.TextBoxFor(o => o.Password)</td>
                <td>@Html.ValidationMessageFor(a => a.Password)</td>
            </tr>
        </table>
        <input type="submit" id="submit" value="Login" />
    }
}
@Html.ActionLink("Forgot password","SendEmail")

