﻿
@{
    ViewBag.Title = "OtpValidation";
}

<h2>Otp Send to @ViewBag.Email</h2>
@using(Html.BeginForm())
{
    <input type="number" name="otp" />
    <input type="submit" value="Check" />
    if(ViewBag.Fail!=null)
    {
        <span id="Fail">@ViewBag.Fail</span>
    }
}

