﻿@model CarRentalSystem.Models.Owner

@{
    ViewBag.Title = "OwnerDetails";
}

<h2>Owner Details</h2>

<table>
    <tr>
        <td>@Html.DisplayNameFor(o => o.OwnerName)</td>
        <td>@Html.TextBoxFor(o => o.OwnerName, new { @Value = Model.OwnerName, @readonly = "readonly" })</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(o => o.Address)</td>
        <td>@Html.TextBoxFor(a => a.Address, new { @Value = Model.Address, @readonly = "readonly" })</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(o => o.EmailId)</td>
        <td>@Html.TextBoxFor(o => o.EmailId, new { @Value = Model.EmailId, @readonly = "readonly" })</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(o => o.PhoneNumber)</td>
        <td>@Html.TextBoxFor(o => o.PhoneNumber, new { @Value = Model.PhoneNumber, @readonly = "readonly" })</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(o => o.OwnerImagePath)</td>
        <td>
            <img src="@Url.Content(Model.OwnerImagePath)" width="100" height="100" />
        </td>
    </tr>
</table>
@Html.ActionLink("Go Back to car list", "DisplayCars", "Owner", new { id = Model.OwnerId }, null) | @Html.ActionLink("Edit details", "Edit", "Owner", new { id = Model.OwnerId }, null)

