﻿@model IEnumerable<CarRentalSystem.Models.Car>

@{
    ViewBag.Title = "Payout";
}
<style>
    table, td, th {
        padding: 10px;
    }
</style>
<h2>Payout</h2>

<h3>Total Earning=@ViewBag.Earnings</h3>

<h4>Earnings by Indvidual Car</h4>

<table>
    <tr>
        <th>@Html.DisplayNameFor(c => c.CarImagePath)</th>
        <th>@Html.DisplayNameFor(c => c.CarName)</th>
        <th>@Html.DisplayNameFor(c => c.CarNumber)</th>
        <th>@Html.DisplayNameFor(c => c.TotalEarnings)</th>
    </tr>
    @foreach (var val in Model)
    {
        <tr>
            <td>
                <img src="@Url.Content(val.CarImagePath)" width="100" height="100" />
            </td>
            <td>@val.CarName</td>
            <td>@val.CarNumber</td>
            <td>@val.TotalEarnings</td>
        </tr>
    }
</table>

