﻿@model CarRentalSystem.Models.Owner

@{
    ViewBag.Title = "SendEmail";
}
<style>
    #Fail{
        color:red;
    }
</style>
<h2>Enter Email to send OTP</h2>
@using (Html.BeginForm())
{
    <div>
        @Html.DisplayNameFor(o=>o.EmailId)
        @Html.TextBoxFor(o=>o.EmailId)
        <input type="submit" value="Send OTP" />
    </div>
    if(ViewBag.Failed!=null)
    {
        <span id="Fail">@ViewBag.Failed</span>
    }

}


